**/*.swp
cover.out
*~
!*/
site/
**/*.test
**/*.sublime-workspace
/.idea/
**/access.log
vendor/**/*.js
vendor/**/*.json
release
.DS_Store
*.syso
coverage.txt
.vscode/
.snap
*.tar.bz2
parts/
prime/
snap/.snapcraft/
stage/
./web/node_modules